* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.message-box {
    display: flex;
}
.message-box span {
    cursor: pointer;
} 
.me {
    text-align: right;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    width: 250px;
    height: auto;
    word-break: break-all;
    margin-left: 420px;
    align-items: center;
}
.bot {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    width: 250px;
    height: auto;
    word-break: break-all;
    margin-left: 0px;
    align-items: center;
}
img {
    width: 50%;
    height: 100%;
}